<script data-th-src="@{js/jquery.min.js}"></script>
<script data-th-src="@{js/plugs/tether/tether.min.js}"></script>
<script data-th-src="@{js/plugs/bootstrap/bootstrap.min.js}"></script>
<script data-th-src="@{js/plugs/waves/waves.min.js}"></script>
<script data-th-src="@{js/plugs/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
<script data-th-src="@{js/plugs/jquery-scrollLock/jquery-scrollLock.min.js}"></script>
<script data-th-src="@{js/plugs/bootstrap-notify/bootstrap-notify.min.js}"></script>

<script data-th-src="@{js/plugs/multiple-select/multiple-select.js}"></script>
<script data-th-src="@{js/plugs/dropzone/dropzone.min.js}"></script>
<script data-th-src="@{js/plugs/sweetalert2/sweetalert2.js}"></script>
<script data-th-src="@{js/plugs/jquery-validate/jquery.validate.min.js}"></script>
<script data-th-src="@{js/plugs/jquery-validate/additional-methods.min.js}"></script>
<script data-th-src="@{js/plugs/jquery-validate/messages_zh.min.js}"></script>

<script data-th-src="@{/js/plugs/jsTree/jstree.js}"></script>

<script data-th-src="@{js/plugs/bootstrap-table/bootstrap-table.min.js}"></script>
<script data-th-src="@{js/plugs/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

<script data-th-src="@{js/plugs/jqTreeGrid/jquery.treegrid.js}"></script>
<!-- <script data-th-src="@{js/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script> -->
<script data-th-src="@{js/plugs/jqTreeGrid/jquery.treegrid.extension.js}"></script>
<!-- <script data-th-src="@{js/jqTreeGrid/tree.table.js}"></script> -->

<script data-th-src="@{js/plugs/highchart/highcharts.js}"></script>
<script data-th-src="@{js/plugs/highchart/exporting.js}"></script>
<script data-th-src="@{js/plugs/highchart/highcharts-zh_CN.js}"></script>

<script data-th-src="@{js/plugs/daterangepicker/moment.min.js}"></script>
<script data-th-src="@{js/plugs/daterangepicker/daterangepicker.js}"></script>

<script data-th-src="@{js/common.js}"></script>
