<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whh.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.whh.bean.pojo.Role">
        <constructor>
            <idArg column="role_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="role_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    role_id, role_name, description
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where role_id = #{roleId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.whh.bean.pojo.Role">
    insert into role (role_id, role_name, description
      )
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.whh.bean.pojo.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{role_id,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.whh.bean.pojo.Role">
        update role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where role_id = #{roleId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.whh.bean.pojo.Role">
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>

    <select id="selectByUserId" parameterType="string" resultMap="BaseResultMap">
      select r.role_id, r.role_name, r.description
      from user u
      right join user_role ur on u.user_id=ur.user_id
      right join role r on r.role_id=ur.role_id
      where u.user_id=#{userId}
  </select>
    <select id="allRole" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
    </select>
</mapper>